{% extends 'base.html.twig' %}

{% block title %}Importer un fichier CSV{% endblock %}

{% block body %}
<h1>Importer un fichier CSV</h1>
<div class="text-danger">
    {{ error }}
</div>
{{ form(form) }}
{% endblock %}
